/.vscode
temp/
.eslintrc.json
api-extractor.json
appveyor.yml
ngv.config.json
tsconfig.json
tsconfig.es2020.json
tsconfig.es2015.json
tsdoc-metadata.json

*.ts
!*.d.ts

*~
*.orig
*.log
*.spec.js
*.spec.d.ts